rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /{document=**} {
      allow read, write: if false;
    }

    match /owner_only/{uid} {
      allow read, write: if isOwner(uid);
    }

    match /roles_only/{uid} {
      allow read: if hasReadRole(resource);

      allow create: if hasCreateRole(request.resource);

      allow update: if hasUpdateRole(resource);

      allow delete: if hasDeleteRole(resource);
    }

    match /owner_or_roles/{uid} {
      allow read: if isOwner(uid) || hasReadRole(resource);

      allow create: if isOwner(uid) || hasCreateRole(request.resource);

      allow update: if isOwner(uid) || hasUpdateRole(resource);

      allow delete: if isOwner(uid) || hasDeleteRole(resource);
    }

    match /owner_or_readonly/{uid} {
      allow read: if isOwner(uid) || hasReadRole(resource);

      allow create: if isOwner(uid);

      allow update: if isOwner(uid);

      allow delete: if isOwner(uid);
    }

    match /users/{uid} {
      allow read: if isOwner(uid) || hasReadRole(resource);
      allow write: if isOwner(uid);
    }

    match /tokens/{token} {
      allow read: if isSignedIn();

      allow create: if isValidTokenCreate();

      allow update: if isValidTokenUpdate();
    }

    match /dashboards/{uid} {
      allow read: if isOwner(uid) || hasReadRole(resource);

      allow create: if hasCreateRole(request.resource);

      allow update: if hasUpdateRole(resource);

      allow delete: if hasDeleteRole(resource);
    }

    match /rolestest/{doc} {
      allow read: if hasReadRole(resource);

      allow update: if hasUpdateRole(resource);

      allow delete: if hasDeleteRole(resource);
    }
    
  }

  function isSignedIn() {
    return request.auth != null;
  }

  function hasReadRole(resource) {
    return hasRole(resource, ["read", "edit", "admin"]);
  }

  function hasCreateRole(resource) {
    return hasRole(resource, ["create", "edit", "admin"]);
  }

  function hasUpdateRole(resource) {
    return hasRole(resource, ["update", "edit", "admin"]);
  }

  function hasDeleteRole(resource) {
    return hasRole(resource, ["delete", "admin"]);
  }

  function hasRole(resource, roles) {
    return isSignedIn() && resource.data.roles[request.auth.uid] in roles;
  }    

  function isOwner(uid) {
    return isSignedIn() && request.auth.uid == uid;
  }

  function isValidTokenCreate() {
    let incoming = request.resource.data;

    let isOwner = isOwner(incoming.dashboardUid); 
    let isNow = request.time == incoming.createdAt;
    let hasRequiredFields = incoming.keys()
      .hasAll(["createdAt", "dashboardUid"]);
    let hasOnlyFields = incoming.keys()
      .hasOnly(["createdAt", "dashboardUid"]);

    return 
      isOwner &&
      isNow &&
      hasRequiredFields &&
      hasOnlyFields;
  }

  function isValidTokenUpdate() {    
    let incoming = request.resource.data;

    let isOwner = isOwner(incoming.ownerUid);   
    let hasRequiredFields = incoming.keys()
      .hasAll(["ownerUid"]);
    let hasOnlyFields = incoming.diff(resource.data).affectedKeys()
      .hasOnly(["ownerUid"]); 

    return 
      isOwner &&
      hasRequiredFields &&
      hasOnlyFields;
  }
}